/* Universal style */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* Personal data tab */

.frame-container{
	width: 900px;
	height: 900px;
	margin: 30px auto;
}

.personal-data{
	border: 1px solid black;
	background-color: #e3be42;
	width: 30%;
	height: 100%;
}

.profile-picture{
	border: 1px solid #FFF;
	background-color: #FFF;
	border-radius: 50%;
	width: 50%;
	margin: 20% auto;
	margin-bottom: 20px;
}

.profile-picture img{
	width: 100%;
}

#name{
	text-align: center;
	font-family: Helvetica, sans-serif;
	margin-bottom: 10px;
}

#job-title{
	background-color: #000;
	color: #FFF;
	text-align: center;
	font-family: Helvetica, sans-serif;
	line-height: 2.5em;
}

.profile-header {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-weight: 400;
	margin: 20px 0;
	font-size: 1.5em;
	letter-spacing: 0.1em;
}

.holder{
	width: 100%;
}

.holder > p {
	font-family: Helvetica, sans-serif;
	padding-left: 5px;
	font-size: 14px;
}

.social-media{
	width: 30%;
	padding-right: 10px;
	text-align: right;
	background-color: #000;
	color: #FFF;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.holder >.fa{
	font-size: 1em;
	/*font-weight: 600;*/
	line-height: 1.5em;
}

.hobbies-data{
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-family: Helvetica, sans-serif;
}

.hobbies-data .fa {
	border: 1px solid red;
	padding: 10px;
	font-size: 2em;
	color: #FFF;
	background-color: #000;
}

.hobbies-data li{
	font-size: 14px;
	padding-left: 10px;
	padding-bottom: 30px;
}

#right-side {
	padding-left: 30px;
}

/* Right container content*/

.right-container{
	border: 1px solid black;
	margin-left: 30%;
	width: 70%;
	height: 100%;
	position: relative;
	bottom: 100%;
}

/* Profile bar */

.holder{
	width: 100%;
	height: 5%;
	margin-top: 5%;
}

.holder >*{
	display: inline-block;
}

.icon{
	height:100%;
	width:20%;
	padding-left: 5%;
}

.icon .fa{
	font-size: 3em;
	color: #e3be42;
}

.head-text{
	background-color: #000;
	color: #FFF;
	font-family: Helvetica, sans-serif;
	padding-left: 15px;
	width: 79.3%;
	height: 100%;
	text-align: left;
	vertical-align: top;
	line-height: 3em;
}


/* profile text */

.text-holder{
	border: 1px solid red;
	text-align: justify;
	padding: 15px 10px 0 5%;
}

