/* Universal style */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* Main container */

.frame-container {
	width: 900px;
	height: 1300px;
	margin: 30px auto;
}

/* Left side container */

.personal-data {
	border: 1px solid black;
	background-color: #e3be42;
	width: 30%;
	height: 100%;
}

.profile-picture {
	background-color: #FFF;
	border-radius: 50%;
	width: 60%;
	margin: 20% auto;
	margin-bottom: 20px;
}

.profile-picture img {
	width: 100%;
}

#name {
	text-align: center;
	font-family: Helvetica, sans-serif;
	margin-bottom: 10px;
}

#job-title {
	background-color: #000;
	color: #FFF;
	text-align: center;
	font-family: Helvetica, sans-serif;
	line-height: 2.5em;
}

.profile-header {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-weight: 400;
	margin: 20px 0;
	font-size: 1.5em;
	letter-spacing: 0.1em;
}

/* Contact list */

.contact-list li {
	display: inline-block;
	margin-bottom: 1em;
	list-style-type: none;
}

.contact-list p {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
}

.c-font-awsm {
	width: 30%;
	padding-right: 10px;
	margin-right: 10px;
	text-align: right;
	background-color: #000;
	color: #FFF;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	line-height: 1.5em;
}

/* Hobbies list */

.hobbies-list li {
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
	margin-left: 5%;
}

.h-font-awsm {
	font-size: 2em;
	color: #FFF;
	background-color: #000;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	line-height: 1.5em;
	margin-bottom: 10%;
}

.hobbies-list p {
	line-height: 3em;
	font-family: Helvetica, sans-serif;
}

/* Right container content*/

.right-container {
	border: 1px solid black;
	margin-left: 30%;
	width: 70%;
	height: 100%;
	position: relative;
	bottom: 100%;
}

/* Profile bar */

.holder {
	width: 100%;
	height: 3em;
	margin-top: 5%;
}

.holder >* {
	display: inline-block;
}

.icon {
	height:100%;
	width:20%;
	padding-left: 5%;
}

.icon .fa {
	font-size: 3em;
	color: #e3be42;
}

.head-text {
	background-color: #000;
	color: #FFF;
	font-family: Helvetica, sans-serif;
	padding-left: 15px;
	width: 79.3%;
	height: 100%;
	text-align: left;
	vertical-align: top;
	line-height: 3em;
	border-top-left-radius: 10px;
}

/* profile text */

.text-holder {
	font-family: Helvetica, sans-serif;
	margin: 20px 0 0 30px;
}

.text-holder p {
	font-size: 14px;
	padding-top: 5px;
}

.subtitlu {
	color: #797979;
}

.text-holder li {
	margin-top: 10px;
}

.text-holder ul {
	list-style-type: none;
}

/* Percentage circles */

.p-circle {
	display: inline-block;
	font-size: 15px;
	margin: 20px;
	position: relative;
	padding: 0;
	width: 5em;
	height: 5em;
	background-color: #eeeeee;
	border-radius: 50%;
	line-height: 5em;
}

.p-circle:after {
	border: none;
	position: absolute;
	top: 0.65em;
	left: 0.65em;
	text-align: center;
	display: block;
	border-radius: 50%;
	width: 3.7em;
	height: 3.7em;
	background-color: #c1c1c1;
	content: " ";
}

.p-circle span {
	position: absolute;
	font-family: Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: 600;
	width: 100%;
	text-align: center;
	display: block;
	color: #000;
	z-index: 2;
}

.slice {
	border-radius: 50%;
	width: 5em;
	height: 5em;
	position: absolute;
	clip: rect(0, 5em, 5em, 2.5em);
}

.p-circle.over50 .slice {
	clip: rect(auto, auto, auto, auto);
}

.value-bar {
	position: absolute;
	clip: rect(0, 2.5em, 5em, 0);
	width: 5em;
	height: 5em;
	border-radius: 50%;
	border: 1em solid #e3be42;
	box-sizing: border-box;
}

.p-circle.over50 .first50-bar {
	position: absolute;
	clip: rect(0, 5em, 5em, 2.5em);
	background-color: #e3be42;
	border-radius: 50%;
	width: 5em;
	height: 5em;
}

.p-circle.p60 .value-bar {
	transform: rotate(216deg);
}

.p-circle.p70 .value-bar {
	transform: rotate(252deg);
}

.p-circle.p50 .value-bar {
	transform: rotate(180deg)
}

.c-container {
	display: inline-block;
	margin-left: 96.6px;
	font-family: Helvetica, sans-serif;
}

.c-container p {
	display: inline-block;
}

#c-title {
	vertical-align: top;
	line-height: 7em;
}