/* Universal style*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(../images/stainless-steel.jpg);
  background-size: cover;
}

/* Main page style*/

.main-container {
  background-image: url(../images/stainless-steel.jpg);
  background-size: cover;
  width: 70%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.sm {
  width: 100%;
}

#name {
  color: #000;
  text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.7);
  font-size: 60px;
  font-family: Helvetica;
  font-weight: 900;
  letter-spacing: 0.2em;
  padding-bottom: 0.5em;
}

.sm a {
  text-decoration: none;
  color: #000;
  font-size: 3em;
}

.fa {
  text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.7);
  margin: 0 5px;
}

.toggle {
  color: #4c4c4c;
}


/* Secondary pages - link & image*/

.second-container{
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/cv-white.png);
  background-color: #262626;
  width: 30%;
  height: 40vh;
  position: relative;
  left: 70%;
  bottom: 100vh;
}

.second-container:hover {
  background-image: url(../images/cv-black.png);
  background-color: #E9E9E9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.third-container {
  display: block;
  background-image: url(../images/portfolio-white.png);
  background-size: cover;
  background-repeat: no-repeat; 
  background-color: #262626;
  background-position: center;
  border-top: 0.5px solid #232b2b;
  width: 30%;
  height: 35vh;
  position: relative;
  left: 70%;
  bottom: 100vh;
}

.third-container:hover {
  background-image: url(../images/portfolio-black.png);
  background-color: #E9E9E9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fourth-container {
  display: block;
  background-size: cover;
  width: 15%;
  height: 25vh;
  position: relative;
  left: 70%;
  bottom: 100vh;
  text-decoration: none;
  border-top: 0.5px solid #232b2b;
  border-right: 0.5px solid #232b2b;
}

.wprogress {
  background-color: #262626;
  text-align: center;
  color: #FFF;
  line-height: 25vh;
  font-family: Helvetica, sans-serif;
}

.fifth-container {
  display: block;
  background-size: cover;
  width: 15%;
  height: 25vh;
  position: relative;
  left: 85%;
  bottom: 125vh;
  text-decoration: none;
  border-top: 0.5px solid #232b2b;
}

.wprogress:hover {
  background-color: #E9E9E9;
  color: #000;
}
